
@keyframes slideRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .custom-button {
    background-color: #3490dc;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    /* font-size: 0.875rem; Adjust font size as needed */
    animation: slideRight 0.5s ease-in-out;
  }
  
  .custom-button:hover {
    background-color: #4a90e2;
    color: #ffffff;
  }